<!DOCTYPE html>

<html>

<head>
    <style lang="en" type="text/css" id="night-mode-pro-style">
        html {
            background-color: none !important;
        }

        body {
            background-color: none;
        }
    </style>
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>